* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 50px;
}

.scores {
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
}

.variables {
    color: rgb(99, 199, 221);
}

.btn {
    width: 80px;
    height: 50px;
    color: #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    position: relative;
    display: inline;
    margin: 5px;
    transition: ease .50s;
}

.btn:hover {
    transform: scale(1.1);
    background: #fff;
    border: solid;
    border-width: 2px;
    border-color:#ff2963;
    color: #0f0c29;
}

.ends{
    margin-top: 100px;
}

.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	align-items: center;
    display: inline-flex;
	justify-content: center;
	background: #fff;
	font-size: 17px;
	color: #0f0c29;
	margin: 18px;
}

.social a:hover{
	transform: scale(1.1);
	background: #ff2963;
    color: #fff;
	transition: .5s;
}